.child{
    background: greenyellow;
    width: 400px;
    margin: 100px;
    height: 100px;
    color: black;
}

.parent{
    background: blueviolet;
    height: 400px;
    width: 587px;
    color: white;
}

h2,h3{
    padding-top:20px;
    padding-left:20px;
    padding-right:20px;
}
strong{
    padding:20px;
}

p{
    padding-left: 18px;
}

