<h1>{{this.title}}</h1>
<p></p>
<div class = "position" *ngFor="let content of contents;let i = index">
    <br>
    <div class ="widthFirstCol"><strong>{{content}}</strong></div>
    <div class ="widthSecondCol" [innerHTML]="evaluateFeature(i)" ></div>
    <hr>
</div>




