
<div style="text-align:center">
    <h1>Welcome to {{compTitle}}</h1>
</div>

<p>Name (Lower case): <span><b>{{person.name | lowercase}}</b></span></p>
<p>Name (Upper case): <span><b>{{person.name | uppercase}}</b></span></p>
<p>Today's date:   {{todaysDate | date : 'd/d/y'}}</p>
<p>Current time:   {{todaysDate | date : 'shortTime'}}</p>
<p>Income :   {{person.income | currency : "USD" }}</p>
<p> Fractional number :   {{person.fraction | number: '3.4-4'}}</p>
<p>Person's information in JSON : {{person | json}} </p>
<p>Percent Pipe :  {{person.percent | percent}}</p>
<p>Slice pipe: {{months | slice:2:11}}</p>
<p> Async pipe : {{ observableData | async }} </p>
<p> Async pipe : {{ promisedata | async }} </p> 


<div style="text-align:center">
    <h1>Custom filter</h1>
</div>
<p>Squar root filter: {{person.age | sqrtFilter | number: '2.2-2'}}</p>
