<h1 class="titlePos">{{title}}</h1>
<div appCustomDirective></div>
<br><br>

<h2>Ng-class</h2>
<h4 class="text-success">Success</h4>
<h4 [class]="successfulText">Success (Atribute binding)</h4>
<h4 class="text-special">Success</h4>
<h4 [class.text-danger]="hasError">Error</h4>
<h4 [ngClass]="state">Message (ngClass)</h4>

<h2>Issue</h2>
<select *ngFor="let user of userData">
  <option>
    {{user.name}}
  </option>
</select>

<h2>Ng-container</h2>
<select>
<ng-container *ngFor="let user of userData">
  <option>
    {{user.name}}
  </option>
</ng-container>
</select>

<br><br>
<h2>Ng-content</h2>
<app-ngcontent>Display text using ng-content</app-ngcontent>
<br><br>

