<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewFlora()">New Garland</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-flora-item *ngFor="let floraEl of floras; let i = index" [flora]="floraEl" [index]="i"></app-flora-item>
  </div>
</div>
