<div class="row">
  <div class="col-xs-12">
    <img [src]="flora.imagePath" alt="{{ flora.name }}" class="img-responsive" style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ flora.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Garland <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="onAddToOrderList()" style="cursor: pointer;">To order List</a></li>
        <li><a style="cursor: pointer;" (click)="onEditFlora()">Edit Garland</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteFlora()">Delete Garland</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ flora.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of flora.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
