<p>ng-rx0 works!</p>

<div class="toolbar" role="banner">
    {{message$ | async}}
    <br>
    <br>

    <button (click) = "spanishMessage()">Spanish</button>
    <button (click) = "frenchMessage()">French</button>
      