<div class="container">
    <ul id="buttons" class="nav navbar-nav">
        <li routerLinkActive="active" *ngFor="let subject of angularSubjects; let i = index"> <a [routerLink]="'/'+subject"
                (click)="showContent($event)">{{subject}}</a></li>
             
    
    </ul>
</div> 
<!-- 
<div class="container">
    <ul id="buttons" class="nav navbar-nav">
        <li routerLinkActive="active"> <a routerLink="/Component" (click)="showContent($event)">Component</a></li>
        <li routerLinkActive="active"> <a routerLink="/Data_binding" (click)="showContent($event)">Data_binding</a>
        </li>
        <li routerLinkActive="active"> <a routerLink="/Pipe" (click)="showContent($event)">Pipe</a></li>


    </ul>
</div> -->




<router-outlet></router-outlet>