
<div style="text-align:center">
    <h1>Welcome to {{title}}</h1>
</div>

 <table class="table table-striped table-bordered table-dark">
     <thead>
         <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Company</th>
                <th scope="col">Zipcode</th>
         </tr>
        
     </thead>
     <tbody>
         <tr *ngFor="let item of data; let i = index">
             <td>{{item.name}}</td>
             <td>{{item.email}}</td>
             <td>{{item.phone}}</td>
             <td>{{item.company.name}}</td>
             <td>{{item.address.zipcode}}</td>
         </tr>
     </tbody>
 </table>