<div class="row">
    <div class="col-xs-12">
      <p>Add new Servers or blueprints!(cockpit-child component)</p>

      <label>Server Name</label>
      <input
        type="text"
        class="form-control"
        #serverNameInput>

      <label>Server Content</label>
      <input
        type="text"
        class="form-control"
        #serverContentInput>
      <br>

      <!-- pass template reference as a function argument -->

      <button
        class="btn btn-primary"
        (click)="onAddServer(serverNameInput)">Add Server</button>
    
      <button
        class="btn btn-primary"
        (click)="onAddBlueprint(serverNameInput)">Add Blueprint</button>
    </div>
  </div>
  