
<!-- template driven form -->
<div style="text-align:center">
    <h1>Welcome to {{title1}}</h1>
</div>

<form #userlogin="ngForm" (ngSubmit)="onClickSubmit(userlogin.value)">
    <input type="text" name="Email" placeholder="Email" ngModel>
    <br />
    <input type="password" name="passwd" placeholder="passwd" ngModel>
    <br />
    <input type="submit" value="submit" class="btn btn-primary">
</form>


<!-- model driven form -->
<div style="text-align:center">
    <h1>Welcome to {{title2}}</h1>
    
</div>

<form [formGroup]="formdata" (ngSubmit)="modelDrivenForm(formdata.value)">
    <input type="text" name="Email" placeholder="Email" formControlName="email">
    <br />
    <input type="password" name="password" placeholder="password" formControlName="password">
    <br />
    <input type="submit" value="submit" class="btn btn-primary">
</form>
<div> The entered email address : {{email}}</div>


<!-- model driven form with validation + custom validation -->
<div style="text-align:center">
    <h1>Welcome to {{title3}}</h1>
</div>
<form [formGroup]="formDataValidation" (ngSubmit)="modelDrivenFormValidation(formDataValidation.value)">
    <input type="text" name="Email" placeholder="Email" formControlName="emailID">
    <br />
    <input type="password" name="password" placeholder="password" formControlName="password">
    <br />
    <input type="submit" value="submit" class="btn btn-primary" [disabled]="!formDataValidation.valid">
</form>
<div> The entered email address : {{emailValid}}</div>