<div style="text-align:center">
    <h1>Welcome to {{title}}</h1>
</div>

<!-- For virtual scrolling -->
<cdk-virtual-scroll-viewport [itemSize] = "20">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Photo</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            <!-- For virtual scrolling -->
            <tr *cdkVirtualFor="let item of albumDetails">
            <!-- <tr *ngFor="let item of albumDetails"> -->
                <td>{{item.id}}</td>
                <td><img src="{{item.thumbnailUrl}}" width="100" height="100"></td>
                <td>{{item.title}}</td>
            </tr>
        </tbody>
    </table>
</cdk-virtual-scroll-viewport>

