<div style="text-align:center">
    <h1>Welcome to {{title}}</h1>
</div>

<h2>Demo for Google docs spreadsheet (Google account Drive)</h2>
<iframe
    src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTbEFm6KB8P_oY6XGQImG8kZ-eiLJVWK-f4Glg_f63NFkPz0RtJtLwte1oTmZK1HQ/pubhtml"
    width="900" height="500"></iframe>
<hr>

<h2> Demo for Office Live spreadsheet (Microsoft account Drive)</h2>
<iframe width="400" height="250" frameborder="0" scrolling="no"
    src="https://onedrive.live.com/embed?resid=28A313A5AAAFFF4E%211336&authkey=%21ABL4GdclFWSK46g&em=2&wdAllowInteractivity=False&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>
<hr>

<h2>Demo for spreadsheet (From local file) => gender.xls</h2>
<input id="readfile" type="file" (change)="loadFile($event)" />


<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col">Name</th> 
            <th scope="col">Age</th>
            <th scope="col">Gender</th>
            <th scope="col">Id</th>
            <th scope="col">Country</th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let item of xlsData; let i = index">
            <td>{{item['First Name']+' '}}{{item['First Name']}}</td> 
            <td>{{item.Age}}</td>
            <td>{{item.Gender}}</td>
            <td>{{item.Id}}</td>
            <td>{{item.Country}}</td>
        </tr>
    </tbody>
</table>