<div style="text-align:center">
    <h1>Welcome to {{title}}</h1>
</div>

<span>Months: </span>
<select (change)="changeMonth($event)">
    <option *ngFor="let month of months">{{month}}</option>
</select>
<p></p>

<button class="btn btn-primary btn-outline-danger" (click)="eventBinding($event)">Enter</button>