
<div style="text-align:center">
    <h1>Welcome to {{title}}</h1>
</div>
<div class="row">
    <div class="col-sm-2">
        <ul *ngFor="let item of data">
            <li>{{item}}</li>
        </ul>
    </div>
    <div class="col-sm-6">
        <ul *ngFor="let item of combindChartData">
            <li>{{item | json}}</li>
        </ul>
    </div>
    <div class="col-sm-4">
        <span class="pull-right">{{statusmessage}}</span>
        <br><br>
        <input type="button" class="btn btn-primary pull-right" value="Cancel Request" (click)="onBackbuttonClick()">
    </div>
</div>




