<h1 class="titlePos">{{title}}</h1>

<span>Months: </span>
<select>
    <option *ngFor="let month of months">{{month}}</option>
</select>

<div>
    <span *ngIf="condition1; else elseBlock">First Condition is valid</span>
    <ng-template #elseBlock>First Condition is not valid</ng-template>
</div>
<hr>
<div>{{name}} <input [(ngModel)]="name"></div>

<div>
    <span *ngIf="condition2; then ifBlockSecond else elseBlockSecond"></span>
    <ng-template #ifBlockSecond>Second Condition is valid</ng-template>
    <ng-template #elseBlockSecond>Second Condition is not valid</ng-template>
</div>