<p>angular-lifecycle works!</p>
<div class="container">
    <!-- bpCreated is alias name that was emitted -->
    <app-cockpit
      (serverCreated)="onServerAdded($event)"
      (bpCreated)="onBlueprintAdded($event)"
    ></app-cockpit>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-primary" (click)="onChangeFirst()">Change first Element</button>
        <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy first Component</button>
        <app-server-element
          *ngFor="let serverElement of serverElements"
          [srvElement]="serverElement"
          [name]="serverElement.name">
          <p #contentParagraph>
            <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
            <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content}}</em>
          </p>
          <!-- <p></p> will be displayed inside server-element component using ng-content -->
        </app-server-element>
      </div>
    </div>
  </div>
  