<p>ng-rx2 works!</p>

<div>
    <div *ngIf="post">
       <h2>{{(post| async).text}}</h2>
       <h4>Votes: {{ (post| async).likes }}</h4> 
   
       <button (click)="upvote()">Upvote</button>
       <button (click)="downvote()">Downvote</button>
       <button (click)="resetPost()">Reset</button>
       <hr>
     
       <input [(ngModel)]="textInput">
       <button (click)="editText()" >Change Title</button>
     
     </div>
   </div>
   
   <router-outlet></router-outlet>