.example-container { 
    width: 500px;  
    height: 300px; 
    border: 1px solid rgba(0, 0, 0, 0.5); 
 }
 .example-sidenav { 
    padding: 20px; 
    width: 150px; 
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 0.5); 
    background-color: rgb(204, 204, 204); 
    color :#000; 
 }