<div style="text-align:center">
    <h1>Welcome to {{title}}</h1>
</div>

<h2>Menu</h2>
<button mat-button [matMenuTriggerFor] = "menu">Menu</button> 
<mat-menu #menu = "matMenu"> 
   <button mat-menu-item> Menu item1 </button> 
   <button mat-menu-item>  Menu item2 </button>
   <button mat-menu-item>  Menu item3 </button> 
</mat-menu>
<br>
<br>
<br>
<br>
<br>
<br>
 <h2>SideNav</h2> 
 <!-- <mat-sidenav-container class="example-container" fullscreen>  //For full screen -->
<mat-sidenav-container class="example-container"> 
    <mat-sidenav #sidenav class = "example-sidenav"> 
       Angular 7 
    </mat-sidenav> 
    <div class = "example-sidenav-content"> 
       <button type = "button" mat-button (click) = "sidenav.open()"> 
          Open sidenav 
       </button> 
    </div> 
 </mat-sidenav-container>
 <mat-form-field>
    <input matInput [matDatepicker] = "picker" placeholder = "Choose a date"> 
    <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
 </mat-form-field>