<div class="row">
  <div class="col-md-5">
    <!-- <div [chart]="chartHighBarChart"></div> -->
  </div>
  <div class="col-md-1">
  </div>
  <div class="col-md-5">
    <!-- <div [chart]="chartHighLineChart"></div> -->
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <div id="chartStackedBar"></div>
    <!-- <div [chart]="chartStackedBar"></div> -->
  </div>
  <div class="col-md-1">
  </div>
  <div class="col-md-5">
    <button (click)="add()">Add Point randomly</button>
    <!-- <div [chart]="chartpoint"></div> -->
  </div>

</div>
