<div class="row">
  <div class="col-md-6">
    <angular-d3-donut [spreadSlice]=true [centerImage]='centerImage' [data]="donutChartData" [middleText]="'test'"
      (centerImageEvent)="centerImageEvent()"></angular-d3-donut>
  </div>
</div>
