<a style="cursor: pointer;" [routerLink]="[index]" routerLinkActive="active" class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ flora.name }}</h4>
    <p class="list-group-item-text">{{ flora.description }}</p>
  </div>
  <span class="pull-right">
    <img [src]="flora.imagePath" alt="{{ flora.name }}" class="img-responsive" style="max-height: 50px;">
  </span>
</a>
