<div style="text-align:center">
    <h1>Welcome to {{compTitle}}</h1>
</div>

<p></p>

<span>{{title}}</span>


<div style="text-align:center">
    <h1>Welcome to {{title1}}</h1>
</div>
<nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/parentToChild">Parent->Child</a></li>
        <li><a routerLink="/childToParent">Child->Parent </a></li>
        <li><a routerLink="/childToParentView">Child->Parent(ViewChild) </a></li>
        <li><a routerLink="/toSibling">to-Sibling </a> </li>
        <li><a routerLink="/reuseComponent">Reusable components</a></li>
        <li><a routerLink="/dynamicComponent">Dynamic components</a></li>
        
    </ul>
</nav>

<router-outlet></router-outlet>