<div style="text-align:center">
    <h1>Welcome to {{title}}</h1>
</div>
<p> Totay's date : <strong>{{todaysDate}}</strong></p>
<p> Service content: <strong>{{myService.serviceProperty}}</strong></p>
<button (click)="changeServiceProperty()" class="btn btn-primary">Change Service property</button>

