<div class="row">
  <div class="col-md-6">
   <div id="chartdivBarChart" name="amc" [style.width.%]="100" [style.height.px]="500"></div> 
    <!--inline styling is not recommended-->
  </div>
  <div class="col-md-6">
    <div id="chartdivUSMapHeat" name="amc"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div id="chartdivPie" name="amc"></div>
  </div>
</div>
