<div style="text-align:center">
    <h1>Welcome to {{title}}</h1>
</div>

<div> 
    <button (click) = "animate()">Click Me</button> 
    <div [@myanimation] = "state" class = "rotate"> 
       <img src = "assets/images/test.png" width = "100" height = "100">
    </div> 
 </div>

