<p>dynamic-component works!</p>
<button class="btn btn-primary space" (click)="loadComponent($event)">Dynamic component 1</button>
<button class="btn btn-danger space" (click)="loadComponent($event)">Dynamic component 2</button>
<button class="btn btn-default space" (click)="loadComponent($event)">Dynamic component 3</button>

<div>
    <h1><ng-container *ngComponentOutlet="dynamicComp">
    </ng-container></h1>
</div>