<div class="row">
    <div class="col-sm-3" style="background-color : greenyellow; height : 500px"> 
        <app-ng-rx0></app-ng-rx0>
    </div>
    <div class="col-sm-3" style="background-color : red; height : 500px"> 
        <app-ng-rx1></app-ng-rx1>
    </div>
    <div class="col-sm-3" style="background-color : orange; height : 500px"> 
        <app-ng-rx2></app-ng-rx2>
    </div>
    <div class="col-sm-3" style="background-color : greenyellow;"> 
        <app-ng-rx3></app-ng-rx3>
        <br>
        <app-display></app-display>
    </div>
</div>