<div style="text-align:center">
    <h1>Welcome to {{title}}</h1>
</div>

<!-- the following are necessary for drag and drop -->
 <div 
    cdkDropList #personList="cdkDropList"  
    [cdkDropListData]="userData" 
    [cdkDropListConnectedTo]="[userlist]"
    class="example-list" 
    (cdkDropListDropped)="onDrop($event)">

    <div *ngFor="let item of userData" class="datalayout" cdkDrag>
        {{item.name}}
    </div>
</div> 




