<table class="table table-hover" *ngIf="coins!= 0">
    <thead>
    <tr>
        <td>Coin Name</td>
        <td>Coin Price</td>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let coin of coins | async">
            <td>{{ coin.name }}</td>
            <td>{{ coin.price }}</td>
        </tr>
    </tbody>
  <table class="table table-hover" *ngIf="coins!= 0">
    <thead>
    <tr>
        <td>Coin Name</td>
        <td>Coin Price</td>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let coin of coins | async">
            <td>{{ coin.name }}</td>
            <td>{{ coin.price }}</td>
        </tr>
    </tbody>
