<p>
  Welcome to Dashboard page!
</p>
<h3 class="title">Charts</h3>

<nav class="navbar navbar-default">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li> <a routerLink="/highchart" routerLinkActive="active-link">highchart</a></li>
      <li> <a routerLink="/d3chart" routerLinkActive="active-link">d3chart</a></li>
      <li> <a routerLink="/amchart" routerLinkActive="active-link">amchart</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
