<div style="text-align:center">
    <h1>Welcome to {{title}}</h1>
</div>
<div>
    <span *ngIf="isAvailable; then ifBlockSecond else elseBlockSecond"></span>
    <ng-template #ifBlockSecond>Second Condition is valid</ng-template>
    <ng-template #elseBlockSecond>Second Condition is not valid</ng-template>
</div>

<button class="btn btn-danger" (click)="changeFlagStatus()">Enter</button>