<p>child-reuse works!</p>

<div class="card" style="width:400px">
    <div class="card-body">
        <h4 class="card-title">{{user.preferredFullName}}</h4>
        <p class="card-text">Job Title : {{user.jobTitleName}}<br>Email: {{user.emailAddress}}<br>Phone#
            :{{user.phoneNumber}}<br>Region:{{user.region}}</p>
        <a href="#" class="btn btn-primary">See Profile</a>
        <p></p>
    </div>
    <img class="card-img-bottom" src="{{user.image}}" alt="Card image" width="300">
</div>
<br>
<br>